* { margin: 0px; border: 0px;}

button{
    padding: 5px;
}

.inputFileHeader{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

input[type=file]{
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    overflow: hidden;
    opacity: 0;
}

label[for=imgInput], .buttons > button{
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    padding: 4px;
    box-sizing:border-box;
    background-color: rgb(63, 63, 63);
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttons > button{
    display: inline-block;
    margin: 4px;
}

/* Set file name label */
.imgInputValue{ 
    display: inline-block; 
}

.generatedImageHolder{ width: 100%; }

/* .originalImageHolder,.generatedImageHolder{ */
.originalImageHolder, .generatedImageHolder{
    position: relative;
    width: 20vw;
    height: 20vw;
    min-width: 100px;
    min-height: 100px;

    border: 5px solid rgba(80, 80, 80, 1);
    box-sizing: border-box;
    background-color: rgb(133, 133, 133);
    overflow: hidden;
}

.originalImage, .generatedImage{
    position: absolute;
    width: 100%;
    height: 100%;
}

[id*="noneText"]{
    position: absolute;
    display: flex; /* We need to set display set to use "justify-content" > */
    width: 100%;
    height: 100%;
    justify-content: center; /* X axis */
    align-items: center; /* Y axis */
}
/* ######################### */

/* Set First window */
[class*="Header"] > div > div:nth-child(1){
    height: 20vw;
    width: 20vw;
    
    border: 5px solid rgba(80, 80, 80, 1); 
    box-sizing: border-box;
    background-color: rgb(133, 133, 133);
}

/* Set Second window */
[class*="Header"] > div > div:nth-child(2){
    position: relative;
    width: 20vw;
}

.generatedTextHolder{
    resize: both;
    overflow: scroll;
    height: 15vw;
    width: 15vw;
    border: 5px solid rgba(80, 80, 80, 1); 
    box-sizing: border-box;
    background-color: rgb(133, 133, 133);
}

[class*="Header"] > div > div , .generatedTextHolder, .settings{
    display: inline-block;
    vertical-align: top;
}

.border5{
    border: 5px;
    box-sizing: border-box;
}

.setting {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

/* ########################### Slider ############################ */
.slider{
    width: 75%;
    border-radius: 10px;
}

.slider::-moz-range-thumb, .slider::-webkit-slider-thumb{
    height: 150%;
    cursor: pointer;
    background: rgb(0, 0, 0);
    border: 0;
}

.textSizeSliderValueParent > *{
    display: inline-block;
}

#precode{
    color:rgba(0, 0, 0, 0);
}

.generatedText{
    font-family: 'Roboto Mono', monospace;
    white-space: nowrap;
}

.downloadButton{
    display: block;
    background-color: rgb(63, 63, 63);
    padding: 4px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}