codeWindow {
    display: block;
    position: relative;
    background-color:rgb(66, 66, 66);
    padding: 10px 10px 10px 10px;
    overflow: scroll;
}

#number, code, code > *{
    white-space: pre;
    font-family: 'Roboto Mono', monospace;
}

#sameLine, #number{
    display:inline-block;
}

#number:before{
    content: "0";
    display: inline-block;
    color: rgba(0, 0, 0, 0);
}

#number:after{
    content: "";
    display: inline-block;
    background-color: rgb(54, 54, 54);
    width: 2px;
    height: 20px;
    margin-right: 4px;
    margin-left: 4px;
}

#number{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
/* 
|codeSettings
    -|copyButton
        -|button
            -|img 
*/

.codeSettings button:hover{
    background-color: rgba(0, 0, 0, 30%);
}

:root{
    --evenBackgroundColor: rgba(0, 132, 255, 0.102);
    --oddBackgroundColor: rgba(0, 90, 170, 0.102);
}

.codeSettings{
    background-color: var(--evenBackgroundColor);
    width: 100%;
    height: 20px;
    box-sizing: border-box;
    padding: 0 2px;
}


[class*="copyCodeWindowButton"], [class*="downloadCodeWindowButton"]{
    width: 20px;
    height: 20px;
    float: right;
    margin-left: 2px;
    border: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0);
}

[class*="copyCodeWindowButton"]{
    background-image: url('/Images/Icons/copy.png');
}

[class*="downloadCodeWindowButton"]{
    background-image: url('/Images/Icons/download.png');
}

/* image atribute */
.codeSettings div img{
    position: relative;
    width: 20px;
    height: 20px;
}

.copyText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(22, 22, 22);
    text-align: center;
    color: white;
    display: none;
}

.hide{display: none;}
.show{display: block;}

@keyframes showAnimation {
    /* 0% {background-color:red;}
    100% {background-color:white;} */
    0% {opacity: 0;}
    10% {opacity: 1;}
    70% {opacity: 1;}
    100% {opacity: 0;}
}

/* "void", "HIGH", "LOW", "int", "String", "char", "const" */
.variables{
    color: rgb(0, 151, 156);
}

/* "#include", "#define", "while", "loop", "setup", "if", "else", */
.logicalOperators{
    color: rgb(94, 109, 3);
}

/* "Serial", "begin", "pinMode", "digitalWrite", "delay", "available", "readString", "toInt", "millis" */
.functions{
    color: rgb(167, 67, 0);
}

.other{
    color: rgb(141, 99, 138);
}

.logicalOperators, .variables, .functions, .other{
    display: inline;
}