*{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4{
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

a{
    font-family: 'Roboto', sans-serif;
}

table{
    position: relative;
    display: flex;
    padding: 10px;
    /* box-sizing: border-box; */
    /* justify-content: center; */
    border-collapse: collapse;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

a, a:visited{
    color: black;
}

.ul{
    text-decoration: underline;
}

li{
    list-style-type: square;
    list-style-position: inside;
}

/* ############################################################################################ */
/*                                      Custom HTML TAGS                                        */
/* ############################################################################################ */

title{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.paragraph{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.paragraphL{
    position: relative;
    margin-left: 10px;
}

bold{
    font-weight: 900;
    font-weight: bold;
}

:root{
    --value-padding: 2px;
}

val, .val{
    position: relative;
    line-height: calc(var(--value-padding) * 2 + 20px);
    padding: 2px;
    white-space: pre-line;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.3);
}

[class*="invisible"], [id*="invisible"]{
    display: inline-block;
    color:rgba(0, 0, 0, 0);
}