*{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4{
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    /* color: white; */
}

a{
    font-family: 'Roboto', sans-serif;
}

title{
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.paragraph{
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

a, a:visited{
    color: black;
}

.ul{
    text-decoration: underline;
}

li{
    list-style-type: square;
    list-style-position: inside;
}

/* ############################################################################################ */
/*                                      Custom HTML TAGS                                        */
/* ############################################################################################ */

bold{
    font-weight: 900;
    font-weight: bold;
}

:root{
    --value-padding: 2px;
}

val{
    position: relative;
    line-height: calc(var(--value-padding) * 2 + 20px);
    padding: 2px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.3);
}