.settings{
    position: relative;
    box-sizing: border-box;
    /* background-color:aqua; */
}

.selectSize{
    display: inline-block;
    padding: 5px;
}

.refresh{
    position: absolute;
    display: inline-block;
    right: 0px;
    padding:5px;
}

.gameWindow{
    width: 30vw;
    height: 30vw;
    /* aspect-ratio: 1 / 1; */
    border: solid 5vw rgba(0,0,0,0);
    /* border-top: solid 0vw rgba(0,0,0,0); */
    box-sizing: border-box;
}

.window3x3{
    width: 100%;
    height: 100%;
}

.barImage{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("/Images/bar.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.winIndicator{
    position: absolute;
    width: 100%;
    background-image: url("/Images/WinIndicator.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 100%;
    z-index: 1;
}

:root{
    --bar-size: 3%;
    --character-size: calc((100% - var(--bar-size) * 2) / 3);
}

.gameWindow3x3{
    width: 86%;
    height: 86%;
    padding: 7%;
    display: grid;
    grid-template-columns: repeat(3, var(--character-size));
    grid-template-rows: repeat(3, var(--character-size));
    gap: var(--bar-size);
}

[class*="chracterButton"]{
    background-color: rgba(0,0,0,0);
    border: none;
    width: 92%;
    height: 92%;
    padding: 4%;
}

/* .chracterButton1{
    background-image: url("/Images/x.png");
    background-repeat:no-repeat;
    background-size: 100% 100%;
    padding-bottom: 100%;
} */

[id*="characterSpot"]{
    position: relative;
    width: 100%;
    height: 100%;
}