.numberContainer{
    position: relative;
    width: 40%;
    left: 30%;
    right: 30%;
    top: 10%;
    background-color:rgb(109, 109, 109);
}

#rangeMaxFirst{
    display: block;
}

#rangeMinFirst ,#rangeMinTextFirst, #rangeMaxFirst ,#rangeMaxTextFirst, #rangeMinSecond, #rangeMinTextSecond, #rangeMaxSecond ,#rangeMaxTextSecond{
    display: inline-block;
}
 

#rangeMaxTextFirst{
    display: inline-block;
}

/* #rangeMaxFirst{ */
    /* display: block; */
/* } */

#numberDisplay{
    text-align: center;
    font-size: 20vw;
    font-family: 'Roboto', sans-serif;
}