*{
    position: relative;
}

:root{
    --textHeight: 25px;
    --lineHeight: 34px;
}

.correct, .currentCorrect, .currentIncorrect, .current, .afterIncorrect, .after{
    position: relative;
    font-family: monospace;
    font-size: var(--textHeight);
    overflow: hidden;
}

.correct, .currentCorrect{
    color: green;
}

.currentCorrect, .currentIncorrect, .current{
    text-decoration: underline;
}

#wrong, .currentIncorrect, .afterIncorrect{
    background-color: red;
}

/* .current::before{ */
/*     content: ""; */
/*     display: inline-block; */
/*     width: 2px; */
/*     height: var(--textHeight); */
/*     color: black; */
/*     background-color: black; */
/* } */

.before{
    color: green;
}

.selected{
    text-decoration: underline;
}

.writerWindow{
    position: relative;
    padding: 0px 30px;
}

.keyBoardWindow{
    position: relative;
    background-color: rgb(48, 48, 48);
    width: 100%;
    padding: 10px;
    word-wrap: break-word;
    box-sizing: border-box;
}

.progressBar{
    height: 5px;
    background-color: #454545;
}

.playScreen{
    max-height: calc(var(--lineHeight) * 3);
    position: relative;
    top: 0px;
    padding: 0px 0px 3px 0px;
}

.endScreen{
    position: absolute;
    background-color: rgb(48, 48, 48);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 2;
    display: flex;
}

.endScreen > p{
    position: relative;
    width: 50%;
    text-align: center;
    margin: auto;
}

.screen{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.input{
    width: 100%;
    border: none;
}

/* ######################## top settings ######################## */
.topSettings{
    position: relative;
    display: flex;
    box-sizing: border-box;
    gap: 10px;
    padding: 10px;
    width: 100%;
    height: 42px;
    overflow: hidden;
    align-items: center;
    background-color: rgb(112, 63, 63);
}

.topSettings > input[type="text"],
.topSettings > input[type="number"]{
    max-width: 100px;
}

.restart{
    margin-left: auto;
    border: none;
}

.moreSettings.closed::after,
.moreSettings.opened::after{
    border: none
}

.moreSettings{
    height: 100%;
    aspect-ratio: 1/1;
}

.randomLettersWindow, .customTextWindow, .savedTextWindow, .randomWordsWindow{
    padding: 10px;
}

@media only screen and (max-width: 530px){ 
    .restart{
        display: none;
    }
}

@media only screen and (max-width: 600px){ 
    .restart, .timer{
        display: none;
    }
}

/* ######################## settings ######################## */
.randomLettersWindow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.randomLettersWindow > div:first-child{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.randomLettersWindow > .keyboard{
    padding: 10px;
}

.customTextWindow{
    position: relative;
    width: 100%;
}

.customTextWindow > textarea{
    min-width: 100%;
    min-height: 20px;
}

.savedText{
    width: 100%;
    background-color: #454545;;
}

.savedText > div{
    display: flex;
    gap: 10px;
    padding: 5px;
}

.savedText > div > p{
    margin-right: auto;
}

@media only screen and (max-width: 1500px){ 
    .randomLettersWindow{
        flex-direction: column;
        gap: 10px;
    }

    .randomLettersWindow > div:first-child > div{
        display: flex;
        gap: 4px;
    }
}
