.window{
    width: 100%;
    display: flex;
}

.my-canvas, .settings{
    position: relative;
    width: 50%;
    height: 100%;
    border: 1px solid black;
    margin: 2px;
    box-sizing: border-box;
}

.settings{
    padding: 5px;
}

.canvasButtons{
    display: flex; 
    justify-content: flex-end;
}

.canvasButtons > *{
    margin-left: 5px;
}

.settingSameLine{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.settingSameLine > *{
    display: flex;
    margin: 0px 10px 0px 0px;
}

.settingSameLine > input[type=number], .settingSameLine > input[type=range]{
    width: 100%;
}

.settingSameLine *:last-child{
    margin: 0px;
}

.timelapse{
    position: absolute; 
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    text-align: center;
    background-color: #2b2b2b;
    color:white;
    z-index: 2;
    padding: 10px;
    border-radius: 10px;
}

.timelapseButtons{
    display: flex; 
    justify-content: flex-end;
    padding-top: 10px;
}

.timelapseButtons > *{
    margin-left: 5px;
}

@media only screen and (max-width: 600px) {
    .window{
        display: inline-block;
    }
    .my-canvas, .settings {
        width: 100%;
    }
}
