.pointsHolder > *{
    background-color:transparent;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid white;
    transform:translate(-50%, -50%);
}

.bezierCurvePoints{
    width: 100%;
    max-height: 30vh;
    overflow-y: scroll;
}

.bezierCurveSetting{
    margin: 0px 0px 5px 0px;
    width: 100%;
    background-color: rgb(49, 49, 49);
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.bezierCurveSetting > div > input{
    width: 50%;
}

.bezierCurveSetting > div > button{
    height: 20px;
    width: 20px;
}
