/* #arduinoI{ */
[id*="ImgState"]{
    pointer-events: all;
    position: relative;
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 12px solid rgb(0, 0, 0);
}

/* Button class */
[class*="Dropdown-button"]{
    display: inline-block;
    width: 100%;
    height: 100%;
    border: none;
    pointer-events: all;
    padding: 5px;
    text-align: left;
    background-color: rgb(85, 85, 85 );
}

/* Dropdown Content (Hidden by Default) */
/* .arduinoDropdown-content, .htmlDropdown-content, .unityDropdown-content, .kaliLinuxDropdown-content{ */
/* Help: https://www.w3schools.com/cssref/css_selectors.asp */
[class*="Dropdown-content"]{
    display: none;
    /* position: absolute; */
    background-color: rgb(63, 63, 63);
    width: 100%;
    min-width: 100%;
    z-index: 1000;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.links{
    max-width: 500px;
    padding: 0px 20px 0px 20px;
}

.dropDown-item > :hover{
    background-color: rgb(106, 106, 106);
    
}

/* .dropdown div a button,  */
.headDropDown div div a{
    width: 100%;
    background-color: rgb(110, 110, 110);
    border: none;
    box-sizing: border-box;
    /* border: none; */
    /*top left down right*/
    border: solid 7px rgba(255, 0, 0, 0);
    display: block;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    display: inline-block;
}

/* @media (max-width: 700px){
    .info{
        width: 4vh;
    }
} */

/* ################################################################################################ */

/* @media only screen and (max-width: 900px) { 
    [class*="Project"]{
        width: 100%;
    }
} */
